  p{
    text-align: justify;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  *{
    box-sizing: border-box;
  }
  .image{
    width: 180px;
    height: 160px;
    border-radius: 50%;
  }
 .column{
  float: left;
  flex: 50%;
  padding: 5px;;
 }
 .row::after{
  content: "";
  clear: both;
  display: table;
 }
 .image2{
  width: 200px;
  height: 250px;
 }
 .image3{
  width: 200px;
  height: 160px;
 }
.titlecats{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.catpaw{
  float: left;
  border: solid 2px;
  width: 200px;
  height: 160px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.catteeth{
  float: right;
  border: solid 2px;
  width: 200px;
  height: 200px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 40px;
}
#catpaw:hover{
opacity: 0.7;
}
.image4{
  height: 200px;
  width: 200px;
}